extends layout

block content
	h1= title
	for message in messages
		h3(style="color: #5B5EA6") #{message.user}
		p #{message.text}
		p #{message.added}

	form(method='POST' action='')
		button(type='submit') New Message
