doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
	footer
		br
		a(href="https://github.com/Andrsrz/mini-message-board" title="Show me the code") Repository
