extends layout

block content
	h1= title

	form(method='POST' action='')
		div.form-group(style="display: flex; flex-flow: column nowrap; justify-content: center; align-content: center")
			label(for='user') User:
			input#user.form-control(type='text', placeholder='User'
			name='user' value=(undefined===genre ? '' : genre.name), required=true autofocus)
			label(for='message') Message:
			textarea#message.form-control(type='textarea', placeholder='Message' name='message'
			rows='3' required='true' style='resize: vertical')
		button(type='submit' style='cursor: pointer') Submit
